.container{
  background-color: rgb(40, 33, 83);
  width: 30%;
  height: 75vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-left: 32.2%;
  margin-top: 6vw;
  border-radius: 5.5%;
  border: solid 2px whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.459) 2.5px 2.5px 2.5px,rgba(0, 0, 0, 0.459) -2.5px -2.5px 2.5px;
}
.input{
  margin: 10%;
  margin-left: 0%;
  margin-right: 0%;
  box-shadow: inset rgba(0, 0, 0, 0.6) 1px 1px 1px ;
  padding-top: 1%;
  
}
.item{
  font-family: 'Nanum Pen Script', cursive;
  color: whitesmoke;
  font-size: larger;
  margin-top: 2%;
}
.deleteButton{
  background-color: darkred;
  color: white;
  margin-left: 7%;
  border-radius: 45%;
  margin-top: 2%;
}
.addButton{
  background-color: green;
  color: white;
  border-radius: 10%;
  
}
.form{
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
